@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
		url('Gilroy-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
